<ion-content [fullscreen]="true">
  <ion-split-pane content-id="main-content">
    <ion-menu content-id="main-content">
      <!-- Your menu content here -->
    </ion-menu>
    <ion-content>
      <!-- Your main content here -->
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
    <!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->
  </ion-split-pane>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="dashboard">
        <ion-icon name="dashboard"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Employee">
        <ion-icon name="Employee"></ion-icon>
        <ion-label>Employee</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="department">
        <ion-icon name="department"></ion-icon>
        <ion-label>Department</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

</ion-app>
