<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      WalloPay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        WalloPay
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item button (click)="navigateTo('linemanager')">
      Line Managers
    </ion-item>
    <ion-item button (click)="navigateTo('department')">
      Departments
    </ion-item>
    <ion-item button (click)="navigateTo('employee')">
      Employees
    </ion-item>
  </ion-content>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-split-pane when="xs" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
        <ion-title button (click)="navigateTo('/')">
          Menu
        </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item button (click)="navigateTo('linemanager')">
          LineManager
        </ion-item>
        <ion-item button (click)="navigateTo('department')">
          Department
        </ion-item>
        <ion-item button (click)="navigateTo('employee')">
          Employee
        </ion-item>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main">
      <ion-content>
        <ion-list class="ion-padding">
          Dashboard
        </ion-list>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-content> -->