<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
      <ion-button slot="end">
        Edit
    </ion-button>
    <!-- <ion-content slot="end">
      <ion-icon
        name="create"
        size="small"
        color="black"
      ></ion-icon> -->
    <!-- </ion-content> -->
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="department" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <p>dsdssfss</p> -->
      <ion-title size="large">{{ department.name }}</ion-title>
      <p>ID: {{ department._id }}</p>
      <p>Manager: {{ department.line_manager }}</p>
    </ion-toolbar>
  </ion-header>
</ion-content>