<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Employees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-list> -->
    <ion-item *ngFor="let e of getEmployees()" button (click)="navigateTo(e.name)">
      <ion-card class="employee-card">
        <!-- Card Header with Image -->
        <!-- <img [src]="d.pictureUrl" alt="{{ d.name }} Picture" /> -->
        
        <!-- Card Content -->
        <!-- <ion-card-header> -->
          <ion-card-title>{{ e.name }}</ion-card-title>
          <!-- <ion-card-subtitle>ID: {{ e._id }}</ion-card-subtitle> -->
          <p>ID: {{ e._id }}</p>
          <p>Address: {{ e.address }}</p>
          <!-- <p>Department {{ e.department }}</p> -->
          <!-- <p>Manager: {{ e.line_manager }}</p> -->
        <!-- </ion-card-header> -->
  
        <!-- Card Body (Detailed Info) -->
        <!-- <ion-card-content> -->
          <!-- You can add other details as necessary -->
        <!-- </ion-card-content> -->
      </ion-card>
    </ion-item>
  <!-- </ion-list> -->
  
  

</ion-content>
