<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-content slot="end">
      <ion-icon
        name="create"
        size="small"
        color="black"
      ></ion-icon>
    </ion-content>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Add Employee Button -->
  <ion-button id="open-modal" expand="block" (click)="setOpen(true)">Add Employees</ion-button>

  <!-- Employee Cards Grid -->
  <div class="employee-grid">
    <ion-item *ngFor="let e of getAllEmployees()" button (click)="onEmployeeCardClick(e._id)">
      <ion-card class="employee-card">
        <ion-img
          src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
          alt="Employee Image"
        ></ion-img>

        <div class="overlay">
          <ion-card-title>{{ e.name }}</ion-card-title>
          <ion-card-subtitle>ID: {{ e._id }}</ion-card-subtitle>
        </div>

        <div class="card-control">
          <ion-icon name="expand" size="small" color="black" button (click)="getEmployeeById(e._id)"></ion-icon>
          <ion-icon name="trash" size="small" color="black" (click)="onDeleteEmployeeClick(e._id)"></ion-icon>
        </div>
      </ion-card>
    </ion-item>
  </div>

  <!-- Modal for Adding Employees -->
  <ion-modal [isOpen]="isModalOpen">
    <!-- <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)"> -->
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Employee</ion-title>
          <ion-button slot="start" (click)="cancel()">Cancel</ion-button>
          <ion-button slot="end" (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Enter your name"
            labelPlacement="stacked"
            type="text"
            placeholder="Your name"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
