/* Responsive Grid for employee cards */
.employee-grid {
  display: grid;
  grid-template-columns: 1fr;  /* Default to 1 column (list view) */
  gap: 16px;  /* Space between grid items */
  padding: 3rem 1rem;
}

.employee-card {
  width: 100%;  /* Default to 100% on mobile (list view) */
  position: relative;  /* Position children elements relative to the card */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Make sure content stays at the bottom */
  overflow: hidden;  /* Hide content that overflows */
}

/* Image styling */
.employee-card ion-img {
  width: 100%;  /* Ensure image takes full width */
  height: 200px;  /* Fixed height for the image */
  object-fit: cover;  /* Ensure the image covers the area */
}

/* Overlay for title */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);  /* Semi-transparent black background */
  color: white;
  text-align: center;
  padding: 8px 0;
  opacity: 0;
}

.overlay ion-card-title {
  margin: 0;  /* Remove default margins */
  font-size: 1.2em;
}

/* Card Control Buttons (Edit, Delete) */
.card-control {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; /* Smooth fade-in effect */
}

.employee-card:hover .overlay {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s; /* Make buttons visible on hover */
}

.employee-card:hover .card-control {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s; /* Make buttons visible on hover */
}

.card-control ion-icon {
  cursor: pointer;
}




/* For larger screens (desktop), switch to a 2-column grid */
@media (min-width: 500px) {
  .employee-grid {
    grid-template-columns: repeat(2, 1fr);  /* 2 columns, each taking 50% width */
  }
  .employee-card {
    width: 100%;  /* Make the card occupy full space of its grid cell */
  }
}

@media (min-width: 768px) {
  .employee-grid {
    grid-template-columns: repeat(3, 1fr);  /* 3 columns on larger screens */
  }
  .employee-card {
    width: 100%;  /* Make the card occupy full space of its grid cell */
  }
}

@media (min-width: 1024px) {
  .employee-grid {
    grid-template-columns: repeat(4, 1fr);  /* 4 columns for very large screens */
  }
  .employee-card {
    width: 100%; /* Ensure the card stays within its grid cell width */
  }
}
